@tailwind base;
@tailwind sizing;
@tailwind components;
@tailwind utilities;

html.light *::selection {
  background-color: rgba(20,241,149);
  color: #000;
}

html.dark *::selection {
  background-color: rgba(153,69,255);
  color: #000;
}

html.light #gradient-bg {
  background: linear-gradient(
    90deg, 
    rgba(255, 255, 255, 1) 25%, 
    rgba(255, 255, 255, 0.5) 70%, 
    rgba(255, 255, 255, 0.2) 100%
  );
}

html.dark #gradient-bg {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

html.light #gradient-bg-2 {
  background: linear-gradient(
    90deg, 
    rgba(255, 255, 255, 0.2) 25%, 
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-backdrop-filter: opacity(0.3) blur(5px);
  backdrop-filter: opacity(0.8) blur(5px);
}

html.dark #gradient-bg-2 {
  background: linear-gradient(
    90deg, 
    rgba(2, 27, 17, 0.2) 25%, 
    rgba(2, 27, 17, 0) 100%
  );
  -webkit-backdrop-filter: opacity(0.3) blur(5px);
  backdrop-filter: opacity(0.3) blur(5px);
}

html.light #gradient-radial {
  background: rgb(20, 241, 149);
  filter: blur(130px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html.dark #gradient-radial {
  background: rgb(20, 241, 149);
  filter: blur(130px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


html.dark #alexs1-card #alexs1-photo-img img {
  transition: 1s;
  filter: opacity(1);
}

html.dark #alexs1-card:hover #alexs1-photo-img img {
  filter: opacity(0.6);
}

html.light #alexs1-card #alexs1-photo-img img {
  transition: 1s;
  filter: opacity(1);
}

html.light #alexs1-card:hover #alexs1-photo-img img {
  filter: opacity(0.6) contrast(0.5) brightness(1.4);
}

#alexs1-photo-img::after {
  content: '';
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: rgb(153,69,255);
  background: linear-gradient(90deg, rgba(153,69,255,1) 0%, rgba(20,241,149,1) 100%);
  position: absolute;
  border-radius: 50%;
  transition: 1s;
}

#alexs1-card:hover #alexs1-photo-img::after {
  transform: rotate(360deg);
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
}


#anchor-get-started::before {
  content: '';
  background-image: url('/assets/img/get-started-section-bg.png');
  background-repeat: no-repeat;
  background-position: right;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.2;
}


/* Form Inputs Style */

#wrapper-form-input-name label,
#wrapper-form-input-email label,
#wrapper-form-textarea label {
  transition: 0.6s;
}

#wrapper-form-input-name input:focus,
#wrapper-form-input-email input:focus,
#wrapper-form-textarea textarea:focus {
  outline: 1px dotted #14F195;
}

#wrapper-form-input-name input::placeholder,
#wrapper-form-input-email input::placeholder,
#wrapper-form-textarea textarea::placeholder {
  color: rgba(0, 0, 0, 0);
}

#wrapper-form-input-name input:placeholder-shown + label,
#wrapper-form-input-email input:placeholder-shown + label,
#wrapper-form-textarea textarea:placeholder-shown + label {
  top: 1.75rem;
}

#wrapper-form-input-name input:focus + label,
#wrapper-form-input-email input:focus + label,
#wrapper-form-textarea textarea:focus + label,
#wrapper-form-input-name input:not(:placeholder-shown) + label,
#wrapper-form-input-email input:not(:placeholder-shown) + label,
#wrapper-form-textarea textarea:not(:placeholder-shown) + label {
  top: 0rem;
  color: #14F195;
  font-size: 0.75rem;
}




/* @media screen and (min-width: 1921px)  {
    #line {
        display: none;
    }
} */